fastapi==0.111.0
uvicorn==0.29.0
pydantic==2.7.1
pydantic-settings==2.2.1
pytest==8.2.0
httpx==0.27.0
pandas==2.2.2
scikit-learn==1.4.2
vaderSentiment==3.3.2
faker==24.11.0
polyfactory==2.16.0
seaborn==0.13.2
matplotlib==3.8.4
python-dotenv==1.0.1
sqlalchemy==2.0.30
psycopg2-binary==2.9.9
alembic==1.13.1
catboost==1.2.5
joblib==1.4.2
numpy==1.26.4